.giphy-search__container {
  text-align: center;

  p {
    margin: 15px 0;
  }
}

.giphy-search__input {
  display: inline-block;
  position: relative;
}

.giphy-search__spinner {
  position: absolute;
}
