<div class="giphy-search__container">
  <h1>Giphy Search</h1>

  <!-- TODO: reactive form -->
  <div class="giphy-search__input">
    <input type="text" (input)="search($event.target.value)" [disabled]="loading === true" placeholder="Search Giphy">
    <div class="spinner-border giphy-search__spinner" role="status" *ngIf="loading === true">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <p>Searched for: <strong>{{(searchResult$ | async)?.searchText}}</strong></p>

  <div class="alert alert-warning" role="alert" *ngIf="(searchResult$ | async)?.error">
    {{(searchResult$ | async)?.error}}
  </div>

  <!-- TODO: Ng-template -->
  <giphy-pagination [loading]="loading" [searchResults$]="searchResult$" (loadMore)="loadMore.emit($event)"></giphy-pagination>
</div>
