.pagination__overview {
  text-align: center;

  > img {
    display: inline-block;
    margin: 10px;
  }
}

.pagination__load-more {
  margin: 20px 0;
}

.pagination__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
