<div class="pagination__overview">
  <img *ngFor="let picture of (searchResults$ | async)?.items" [src]="picture">
</div>

<div *ngIf="(searchResults$ | async)?.count < (searchResults$ | async)?.totalCount">
  <div class="pagination__load-more">
    <button [disabled]="loading" type="button" #loadBtn class="btn btn-primary" [value]="(searchResults$ | async)?.count" (click)="loadMore.emit(loadBtn.value)">Load more</button>
  </div>

  <div class="pagination__footer">
    <span>Found: <strong>{{(searchResults$ | async)?.totalCount}}</strong></span>
    <span>Loaded: <strong>{{(searchResults$ | async)?.count}}</strong></span>
  </div>
</div>
